*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

.el2,.el3,.el3,.el5,.el6{
    height: 100vh;
    border: 2px solid black;
}
.logo{
    font-family: montserrat;
    font-weight: bold;
}
 nav{
    background-color: #bdcedb;
    height: 80px;
    width: 100%;
 }
 div.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px; 
 }
 a{
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 28px;
    transition: color 0.25s;
 }
    
    a::after{
        position: absolute;
        content:"";
        inset:0;
        background:white;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        /* transform: rotate(180deg); */
        border-radius: 10px;

    }
 a:hover{
    color:black;
    transform: rotate(180deg);

 }
 a:hover::after{
    scale: 1 1;
 }

nav ul{
    display: flex;
    float:right;
    margin-right: 20px;
}
nav {
    display: flex;
    justify-content: ;
    padding-right: 0px;
    line-height: 80px;
    margin:  5px;
}
ul{
    padding-left:20px ;
    justify-content:space-evenly ;
    gap: 50px;
}
 ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 2px;
}
.tag{
    border: 2px solid red;
    border-radius: 10px;
}
.logo:hover{
    cursor: 
    ;
    color: #f44749;
}

.name1{
    background-size: cover;
    position: absolute;
    top:280px;
    right:70% ;
    font-size: 28px;
    color: #fdfcfc;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.name2{
    padding-bottom: 30px;
    padding-top: 8px;
    font-size: 16px;
    position: absolute;
    right:300px ;
    top:-40px;
    width: 18%;
    height: 1vh;
    border: px solid;
    text-align: center;
    border-radius: 10px;
    background-color:#E52B50 ;

}